In [17]:
import pandas as pd
import numpy as np
import xlrd
import os
import re
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [2]:
pd.set_option('max_row', 20)

* Gapminder Documentation 001 – GDP per Capita by Purchasing Power Parities
* Gapminder Documentation 002 – Infant Mortality Rate
* Gapminder Documentation 003 – Total Population
* Gapminder Documentation 004 – Life Expectancy at Birth
* Gapminder Documentation 005 – Under-five mortality rate
* Gapminder Documentation 007 – GDP per capita by PPP for sub-national units
* Gapminder Documentation 008 – Children per woman (total fertility)

In [3]:
xlrd.open_workbook('source/gapdata001 v14.xlsx').sheet_names()

['Info', 'Data & metadata', 'Column headings', 'Type of data', 'Sources']

In [4]:
data001 = pd.read_excel('source/gapdata001 v14.xlsx', sheetname='Data & metadata')

In [5]:
data001.head()

,Area,Year,GDP per capita - with interpolations,Type of data,Data period,Longer description,Growth linked to which year,If use region or neighbor - what is used,Source,Source notes,Other notes,Adjustments of data,Regional average multiplied with spread-ot factor,Other footnotes,Other footnotes.1,Other footnotes.2
0,Abkhazia,2005,NaN,No data,2005,NaN,NaN,NaN,No data,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abkhazia,2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abkhazia,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abkhazia,2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abkhazia,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
area = data001['Area'].unique()

In [8]:
area_id = list(map(to_concept_id, area))

In [9]:
ent = pd.DataFrame([], columns=['area', 'name'])

In [10]:
ent['area'] = area_id
ent['name'] = area

In [11]:
ent.to_csv('../ddf--entities--area.csv', index=False)

In [24]:
data001_dp = data001[['Area', 'Year', 'GDP per capita - with interpolations']].copy()

In [22]:
to_concept_id('GDP per capita by purchasing power parities')

'gdp_per_capita_by_purchasing_power_parities'

In [25]:
data001_dp.columns = ['area', 'year', 'gdp_per_capita_by_purchasing_power_parities']

In [26]:
data001_dp['area'] = data001_dp['area'].map(to_concept_id)

In [27]:
data001_dp.dropna().sort_values(by=['area', 'year']).to_csv('../ddf--datapoints--gdp_per_capita_by_purchasing_power_parities--by--area--year.csv', index=False)

In [14]:
conc = ['gdp_per_capita_by_purchasing_power_parities', 'area', 'year', 'name']

In [12]:
cdf = pd.DataFrame([], columns=['concept', 'name', 'concept_type'])

In [15]:
cdf['concept'] = conc
cdf['name'] = ['GDP per capita by purchasing power parities', 'Area', 'Year', 'Name']
cdf['concept_type'] = ['measure', 'entity_domain', 'time', 'string']

In [16]:
cdf.to_csv('../ddf--concepts.csv', index=False)

In [18]:
create_index_file('../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
0,"area,year",gdp_per_capita_by_purchasing_power_parities,ddf--datapoints--gdp_per_capita_by_purchasing_...
0,area,name,ddf--entities--area.csv

In [28]:
xlrd.open_workbook('source/gapdata002.xlsx').sheet_names()

['Info',
 'Data',
 'Sources used',
 'Sources by observation',
 'Footnotes from Mitchell']

In [29]:
data002 = pd.read_excel('source/gapdata002.xlsx', sheetname='Data')

In [31]:
data002 = data002.rename(columns={'Infant Mortality Rate': 'area'})

In [32]:
to_concept_id('Infant Mortality Rate')

'infant_mortality_rate'

In [42]:
data002_dp = data002.set_index('area').T

In [43]:
data002_dp = data002_dp.unstack().reset_index()

In [44]:
data002_dp.columns = ['area', 'year', 'infant_mortality_rate']

In [45]:
area_2 = data002_dp['area'].unique()

In [46]:
data002_dp['area'] = data002_dp['area'].map(to_concept_id)

In [50]:
data002_dp.sort_values(by=['area', 'year']).dropna().to_csv('../ddf--datapoints--infant_mortality_rate--by--area--year.csv', index=False)

In [51]:
xlrd.open_workbook('source/gapdata003 version 3.xlsx').sheet_names()

['Information', 'Data']

In [52]:
data003 = pd.read_excel('source/gapdata003 version 3.xlsx', sheetname='Data')

In [54]:
data003  # Population or Population with interpolations?

,Area,Year,Population,Population with interpolations,Source,source - details (col 1),source details (col 2),Available on-line,Type of primary data,Data footnote,...,Gapminder modifications - explanations col. 2,Other notes by gapminder (col 1).,Other notes by gapminder (col 2).,Geographical coverage (col 1),Geographical coverage (col 2),Secondary layer of sources (col 1),Secondary layer of sources (col 2),Tertiary layer of sources (col 1),Tertiary layer of sources (col 2),Tertiary layer of sources (col 3)
0,Abkhazia,1491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Abkhazia,1555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Abkhazia,1575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abkhazia,1600,NaN,NaN,No data,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Abkhazia,1601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Abkhazia,1602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Abkhazia,1603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Abkhazia,1604,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Abkhazia,1605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Abkhazia,1606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131619,Åland,2091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131620,Åland,2092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131621,Åland,2093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131622,Åland,2094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131623,Åland,2095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131624,Åland,2096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131625,Åland,2097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131626,Åland,2098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131627,Åland,2099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131628,Åland,2100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
d31 = data003[['Area', 'Year', 'Population']]
d32 = data003[['Area', 'Year', 'Population with interpolations']]

In [72]:
area3 = d31['Area'].unique()

In [79]:
d31.columns = list(map(to_concept_id, d31.columns))
d32.columns = list(map(to_concept_id, d32.columns))

In [86]:
d31.query('area == "China"')

        area  year   population
22176  China  1491          NaN
22177  China  1555          NaN
22178  China  1575          NaN
22179  China  1600  160000000.0
22180  China  1601          NaN
22181  China  1602          NaN
22182  China  1603          NaN
22183  China  1604          NaN
22184  China  1605          NaN
22185  China  1606          NaN
...      ...   ...          ...
22670  China  2091  979345368.0
22671  China  2092  974351515.0
22672  China  2093  969562515.0
22673  China  2094  964973987.0
22674  China  2095  960578908.0
22675  China  2096  956367261.0
22676  China  2097  952325832.0
22677  China  2098  948438137.0
22678  China  2099  944684487.0
22679  China  2100  941042001.0

[504 rows x 3 columns]

In [87]:
xlrd.open_workbook('source/gapdata004 v7.xlsx').sheet_names()

['About', 'Data & meta data', 'List of sources and references', 'Instructions']

In [89]:
data004 = pd.read_excel('source/gapdata004 v7.xlsx', sheetname='Data & meta data')

In [90]:
data004

,Area,Year,Life expectancy at birth,"Life expectancy, with interpolations",Data quality,Events 1,Events 1 Wikipedia link,Events 2,Events 2 Wikipedia link,Source,...,Note on the timing of health transition,Other notes,Source II (where our source found their estimate),Alternative data,For disasters: CDR or excess CDR,For disasters: duration,CDR coefficient,For disasters: Source of (excess) CDR,For disasters: Notes on excess CDR,Further research needed
0,Afghanistan,1800,28.211,28.211000,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Gapminder model - extrapolation from earliest ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1801,NaN,28.200753,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1802,NaN,28.190507,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1803,NaN,28.180260,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1804,NaN,28.170013,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,1805,NaN,28.159767,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,1806,NaN,28.149520,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,1807,NaN,28.139273,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,1808,NaN,28.129027,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,1809,NaN,28.118780,"4. Trend, guesstimate",NaN,NaN,NaN,NaN,Interpolation (automatic),...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73864,Åland,2090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73865,Åland,2091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73866,Åland,2092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73867,Åland,2093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73868,Åland,2094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73869,Åland,2095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73870,Åland,2096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73871,Åland,2097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73872,Åland,2098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73873,Åland,2099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
xlrd.open_workbook('source/gapdata005 v7.xlsx').sheet_names()

['Info', 'Data & sources by observation', 'Sources used', 'Conversion factor']

In [92]:
data005 = pd.read_excel('source/gapdata005 v7.xlsx', sheetname='Data & sources by observation')

In [93]:
data005

        Country  Year  Under five mortality   Source
0      Abkhazia  1751                   NaN  No data
1      Abkhazia  1752                   NaN  No data
2      Abkhazia  1753                   NaN  No data
3      Abkhazia  1754                   NaN  No data
4      Abkhazia  1755                   NaN  No data
5      Abkhazia  1756                   NaN  No data
6      Abkhazia  1757                   NaN  No data
7      Abkhazia  1758                   NaN  No data
8      Abkhazia  1759                   NaN  No data
9      Abkhazia  1760                   NaN  No data
...         ...   ...                   ...      ...
68633     Åland  2004                   NaN  No data
68634     Åland  2005                   NaN  No data
68635     Åland  2006                   NaN  No data
68636     Åland  2007                   NaN  No data
68637     Åland  2008                   NaN  No data
68638     Åland  2009                   NaN  No data
68639     Åland  2010                   NaN  No data
68640     Åland  2011                   NaN  No data
68641     Åland  2012                   NaN  No data
68642     Åland  2013                   NaN  No data

[68643 rows x 4 columns]

In [97]:
xlrd.open_workbook('source/gapdata008 v6.xlsx').sheet_names()

['Info', 'Data & metadata', 'Sources', 'Conversion keys']

In [98]:
data008 = pd.read_excel('source/gapdata008 v6.xlsx', sheetname='Data & metadata')

In [99]:
data008

,Area,Year,"Total Fertility Rate (TFR), also called Children per Woman",TFR interpolated,Crude Birth Rate (CBR),Princeton If index,Source TFR,Source CBR,Possible error in data,Note 1,Note 2,Region,Conversion key,Alternative data,Adjustment factors
0,Abkhazia,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1800,7.0013,7.0013,NaN,NaN,Extrapolated backwards. Same figure as in 1925.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1801,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1802,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1803,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Afghanistan,1804,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,1805,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Afghanistan,1806,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Afghanistan,1807,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Afghanistan,1808,NaN,7.0013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72857,Åland,2090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72858,Åland,2091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72859,Åland,2092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72860,Åland,2093,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72861,Åland,2094,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72862,Åland,2095,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72863,Åland,2096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72864,Åland,2097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72865,Åland,2098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72866,Åland,2099,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Remaining: GD006, GD007, GD009, GD010